<!DOCTYPE html>
<html lang="en">

<head>
  @@include('./../includes/meta.html')
</head>

<body>
  <p><span class="letter">N</span>
    <span class="letter">o</span>
    <span class="letter">&nbsp</span>
    <span class="letter">p</span>
    <span class="letter">a</span>
    <span class="letter">i</span>
    <span class="letter">n</span>
    <span class="letter">-</span>
  </p>
  <p style="margin-left: 50px;">
    <span class="letter">N</span>
    <span class="letter">o</span>
    <span class="letter">&nbsp</span>
    <span class="letter">g</span>
    <span class="letter">a</span>
    <span class="letter">i</span>
    <span class="letter">n</span>
  </p>
  <script src="js/vendors.js"></script>
  <script src="js/bundle.js"></script>
</body>

</html>
